* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.rounded-circle {
    transition: 0.5s;
}
.rounded-circle:hover {
        cursor:pointer;
        transform: scale(1.05); 
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
}

.viewrecipe {
    margin-top : 6px;
    transition:0.5s
}
.viewrecipe:hover {
    background-color: white;
    color:black;
    font-weight:bold
}